<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="Documents/GitHub/csc394repo/FrontEnd/views/jsFiles/testing.js"></script>


    <meta charset="UTF-8">
    <title>Profile</title>

</head>

<body onload="load()">

<h4>
    This is your base profile, more advanced features will be available after you create your profile.
</h4>

<form action="/users/baseProfile" method="POST">

    <br>

    <div>

        <label for="firstName"> First Name</label>
        <input
                type="firstName"
                name="firstName"
                placeholder="Enter First Name"
                value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
        />

        <label for="lastName"> Last Name</label>
        <input
                type="lastName"
                name="lastName"
                placeholder="Enter Last Name"
                value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
        />

        <br>
        <br>

        <label>Education:</label>

        <br>
        <br>

        <label for="school"> School: </label>
        <input
                type="school"
                name="school"
                placeholder=""
                value="<%= typeof school != 'undefined' ? school : '' %>"
        />

        <label for="degree"> Degree: </label>
        <input
                type="degree"
                name="degree"
                placeholder=""
                value="<%= typeof degree != 'undefined' ? degree : '' %>"
        />

        <br>

        <label for="type"> Type: </label>
        <select name="type" id="type">
            <option value="college">College</option>
            <option value="vocational">Vocational</option>

        </select>

        <br>
        <br>

        <label for="graduationYear"> Graduation Year: </label>
        <input
                type="graduationYear"
                name="graduationYear"
                placeholder=""
                value="<%= typeof graduationYear != 'undefined' ? graduationYear : '' %>"
        />

        <br>
        <br>

        <label>Skills: </label>
        <br>
        <input
                type="skill"
                name="skill1"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <input
                type="skill"
                name="skill12"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <br>
        <input
                type="skill"
                name="skill3"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <input
                type="skill"
                name="skill4"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <br>
        <input
                type="skill"
                name="skill5"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <input
                type="skill"
                name="skill6"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <br>
        <input
                type="skill"
                name="skill7"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <input
                type="skill"
                name="skill8"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <br>
        <input
                type="skill"
                name="skill9"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <input
                type="skill"
                name="skill10"
                placeholder=""
                value="<%= typeof skill != 'undefined' ? skill : '' %>"
        />
        <br>
        <br>

    </div>

</form>

<br>
<br>


<!--
<div id="container">
    <div id="uiContainer"> Skill :
        <input id="Name" type="text" name="Name">

        <script>
            function addName(name, counter) {
                var table = document.getElementById("namesTable");
                var row = table.insertRow();
                var countRows = counter;

                var cell1 = row.insertCell(0);

                cell1.innerHTML = name;

                countRows++;
                document.getElementById("counter").value = countRows;
            }

        </script>

        <button onclick="addName(document.getElementById('Name').value,  document.getElementById('counter').value)">
            Add
        </button>

        <table id="namesTable">
            <tr></tr>
            <tr>

            </tr>
        </table>
    </div>

    <div id="counterDiv">
        <input id="counter" type="number" value="0" readonly>

    </div>

</div> -->

<input type="file" name="filetoupload">
<input type="submit" value="Upload">

</body>
</html>